In [ ]:
#functions to do the following: max, min, average, standard deviation, and geometric average

import numpy as np
import math as m

def theMax(numbers):
  num = numbers[0]
  for i in numbers:
    if i > num:
      num = i
  return num


def theMin(numbers):
  num = numbers[0]
  for i in numbers:
    if i < num:
      num = i
  return num

def eX(vals, weights,power):
  middle_step = (vals**power)*weights
  total = 0
  for i in middle_step:
    total += i
  return total

def stdev(vals,weights):
  ex_1 = eX(vals,weights,1)
  ex_2 = eX(vals,weights,2)
  return np.sqrt(ex_2-ex_1**2)

def geometeric_avg(numbers):
  mult = 1
  for i in numbers:
    mult *= i 
  return m.pow(mult,1/len(numbers))

weights = np.array([.1,.1,.1,.1,.1,.1,.1,.1,.1,.1])
vals = np.array([1,2,3,6,9,3,5,11,10,2])
print("the average is: ",eX(vals=vals, weights=weights, power=1))
print("the standard deviation is: ", stdev(vals,weights))
print("the geometeric average is: ", geometeric_avg(vals))

Create a function that asks the user which shape they would like to analyze. It should then call other functions based on this and return the area of the shape.  The triangle function should take in the base and height, the circle function should take in the radius, and the square function should take in the side length

In [ ]:
def shape_choice():
  data = int(input("which shape would you like to find the arean of? Triange 1, Square 2, Circle 3"))
  if data is 1:
    base = float(input("what is the base?"))
    height = float(input("what is the height"))
    triange(base,height)
  elif data is 2:
    side = float(input("what is the side?"))
    square(side)
  elif data is 3:
    radius = float(input("what is the radius"))
    circle(radius)

def triangle(base,height):
  print("The area of the triangle is: ", base*height)

def square(side):
  print("The area of the square is: ", side*side)

def circle(radius):
  print("the area of a circle is: ", 3.14*radius**2)

shape_choice()

Create a function that takes in a list and returns the list doubled. It should ask the user for option one or two. If the user chooses option one it should return the list doubled such as [1 2 3] becoming [1 2 3 1 2 3], if the user chooses option two then is should return the list such as [1 2 3] becoming [2 4 6].

In [16]:
def approach(numbers):
  choice = int(input("would you like toi see the list 2 time type 1 or would you like to see the numbers double type 2"))
  if choice is 1:
    numbers = numbers*2
  elif choice is 2:
    numbers = np.array(numbers)
    numbers = numbers *2
  return numbers

vals = [1,2,3,4,5,6]
print(approach(vals))

would you like toi see the list 2 time type 1 or would you like to see the numbers double type 22
[ 2  4  6  8 10 12]

Create a function that takes in two lists and concatenates the numbers in those lists. For instance, if we have [1 2 3] and [7 8 9], we should return [17 28 39].

In [ ]:
def concat_lists(list_1, list_2):
  concated = []
  for (i,j) in zip(list_1, list_2):
    concated.append(int(str(i) + str(j)))
    return concated

list_1 = [1,2,3]
list_2 = [2,4,6]
print(concat_lists(list_1,list_2))

Create a function that returns a list of primes up until the number passed in. So if 100 is passed in, it should return all the primes up until 100.

In [45]:
def isprime(num):
  for i in range(2,num):
    if (num % i == 0):
      return False
  return True

def listprimes(x,y):
  for i in range(x, y+1):
    if (isprime(i)):
      print(i, end = " | ")

listprimes(2,100)

2 | 3 | 5 | 7 | 11 | 13 | 17 | 19 | 23 | 29 | 31 | 37 | 41 | 43 | 47 | 53 | 59 | 61 | 67 | 71 | 73 | 79 | 83 | 89 | 97 |

Write a function calculation() such that it can accept two variables and calculate the multiplication and divison of it. And also it must return both results in a single return call

In [23]:
def calculation(a,b):
  return a-b, a+b

plus, minus = calculation(5,7)
print(plus, " ", minus)

-2   12

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.Find the sum of all the multiples of 3 or 5 below 1000.

In [37]:
def oddFib(k):
 first = 1
 second = 1
 total = first + second
 for i in range(k):
  third = first + second 
  if (third % 2 == 1):
    total += third
  first = second
  second = third
 return total

print(oddFib(13))

798

Find the sum of the even valued Fibonacci numbers below 500.

In [44]:
def oddFib(k):
 first = 1
 second = 1
 total = first + second
 for i in range(k):
  third = first + second 
  if (third % 2 == 0):
    total += third
  first = second
  second = third
 return total

print(oddFib(12))

190